<div class="container mt-5">
  <div class="card">
    <div class="card-body">

      <h2>Dashboard</h2>

      <hr>

      @if (loading) {
        <p>Loading profile...</p>
      }

      @if (errorMessage) {
        <div class="alert alert-danger">
          {{ errorMessage }}
        </div>
      }

      @if (profile) {
        <p>
          Welcome User :
          <strong>{{ profile.username }}</strong>
        </p>
      }

      <button
        type="button"
        class="btn btn-danger"
        (click)="logout()">

        Logout

      </button>

    </div>
  </div>
</div>
